        :root{
            --maincolor: #cd8e8e;
            --secondarycolor: rgb(107, 72, 72);
        }
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            
        }
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--maincolor);
            color: white;
            padding: 10px 20px;
            position: sticky;
        }   
        ol{
            display: flex;
            list-style: none;
        }
        ol li{
            margin-right: 80px; 
        }
        ol li:last-child{
            margin-right: 0; 
        }
        .search-container {
            display: flex;
            align-items: center;
        }
        .search-container label {
            margin-right: 10px;
        }
        .searchbox{
            background-color: white;
            color: black;
            padding: 5px 10px;
            border-radius: 5px;
            width: 200px;
            height: 30px;
            border: none;
        }
        .search-icon {
            margin-left: 10px;
            color: black;
        }
        b{
            font-size: 20px;
        }
        .sec{
            background-color: var(--secondarycolor);
            padding: 10px;
            margin: 10px;
        }
        .box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: var(--seondarycolor);
            color: white;
            padding: 10px 20px;
            margin: 10px;
        }
        @media screen and (max-width: 768px){
            ol{
                display: none;
            }
            .search-container{
                display: none;
            }
            :root{
                --maincolor: #410505;
                --secondarycolor: rgb(107, 72, 72);
            }
            
        }