*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    background-color: #ffb0b0;
    overflow: hidden;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 36px;
    text-decoration: none;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    background-color: rgb(183, 152, 111);
}
.box {
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    padding: 200px;
    margin: 200px;
}
.content {
    height: 500px;
    background-color: #aa8b8b;
    border: 2px solid black;
    border-radius: 1000px;
    margin: 20px;
    padding: 205px;
    font-size: 30px;
}
.foot {
    background-color: #ababab;
    height: 10px;
    text-align: center;
    padding: 20px;  
}
.stickycircle {
position: fixed;
border: 2px solid black;
background-color: #474870;
border-radius: 50%;
height: 80px;
width: 80px;
bottom: 20px;
right: 20px;
}
